body {
  padding-top: 50px;
}

.footer {
  margin-top: 50px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.blog-post {
  margin-bottom: 30px;
}

.blog-post-meta {
  margin-bottom: 20px;
}

.blog-post-link {
  margin-top: 20px;
}

.sidebar-module {
  margin-bottom: 30px;
}
