---
layout: page
title: Categories
---

{% for category in site.categories %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ category | first }}</h3>
  </div>
  <div class="panel-body">
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.url %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}
