<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaAppLauncher</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>${mainClass}</string>
	<key>CFBundleDisplayName</key>
	<string>${project.name}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${project.name}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${project.version}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${project.version}</string>
	<key>NSHumanReadableCopyright</key>
	<string>${copyright}</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>JVMRuntime</key>
	<string></string>
	<key>JVMMainClassName</key>
	<string>${mainClass}</string>
	<key>JVMClassPaths</key>
	<array>
	    <string>com/gawdscape/launcher/${project.version}/launcher-${project.version}.jar</string>
	    <string>com/google/code/gson/gson/2.3.1/gson-2.3.1.jar</string>
	</array>
	<key>JVMVersion</key>
	<string>1.8+</string>
	<key>JVMOptions</key>
	<array>
	    <string>-Dapple.laf.useScreenMenuBar=true</string>
	    <string>-Xdock:name=${project.name}</string>
	</array>
	<key>JVMArguments</key>
	<array/>
	<key>LauncherWorkingDirectory</key>
	<string>$APP_ROOT</string>
    </dict>
</plist>
