<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Download</h4>
    <h5>Version 19</h5>
    <p><a href="https://github.com/GawdScape/GawdScapeLauncher/releases/download/19/GawdScape.jar">Java (.jar)</a></p>
    <p><a href="https://github.com/GawdScape/GawdScapeLauncher/releases/download/19/GawdScape.exe">Windows (.exe)</a></p>
    <p><a href="https://github.com/GawdScape/GawdScapeLauncher/releases/download/19/GawdScape.app.zip">Mac OS (.app)</a></p>
  </div>
  <div class="sidebar-module">
    <h4>Links</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/GawdScape/GawdScapeLauncher/releases">Downloads</a></li>
      <li><a href="https://github.com/GawdScape/GawdScapeLauncher/wiki">Wiki</a></li>
      <li><a href="https://github.com/GawdScape/GawdScapeLauncher/issues">Issues</a></li>
      <li><a href="https://github.com/GawdScape/GawdScapeLauncher">Code</a></li>
      <li><a href="https://github.com/GawdScape/GawdScapeLauncher/blob/master/LICENSE.txt">License</a></li>
      <li><a href="https://gawdscape.github.com/">GawdScape</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
